body {
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 253, 253);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-form{
  /* margin: auto; */
  width: 100%;
  text-align: center;
}

select{
  width: 450px;
  height: 55px;
  font-size: 15px;
  border-color: darkgray;
  color: darkgray;
}

.form{
  padding: 10px;
}

p{
  font-size: 20px;
  color: darkgrey;
}

h1{
  text-align: center;
  color: cornflowerblue;
  margin: 70px;
}

h3{
  text-align: center;
  color: cornflowerblue;
}

.btn-add{
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btn{
  background-color: cornflowerblue !important;
  color: white !important;
  text-align: center;
}